* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'DM Sans', sans-serif;
}
body {
    background-color: black;
}

.header-page {
    background-color: black;
    height: 10vh;
   
    position: relative;  
}

.header-icon {
    position: absolute;
    right: 20px;
    top: 20px;
}

.button-icon {
    color: white;
}

.footer-page {
    
     min-height: 80px;
     background-color: #222222;
     position: fixed;
     bottom: 0;
     left: 0;
     right: 0;
     z-index: 99999;
}
.section {
    display: flex;
	flex-wrap: wrap;
    flex-basis: calc(100% / 7) ;
    
}
.section-foto {
    height: 50vh ;
    border: 2 solid white;
    margin-right: 5px;
}

.col-8 {
	flex-basis: calc((100% / 12) * 8);
}
img {
    max-width: 100%;
}