* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'DM Sans', sans-serif;
}

body {
    background-color: black;
}

.header-page {
    height: 10vh;
    position: relative;  
}

.header-icon {
    position: absolute;
    right: 20px;
    top: 20px;
}

.button-icon {
    color: white;
}

 .main-page {
    flex-grow: 1;
	overflow: auto;
	padding: 80px;
    
}

#app {
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	color: white;
	background-color: black;
}

.webcam-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
}

.container {
    width: 200px;
	padding: 5px;
	position: relative;
}
.webcam__label {
	position: absolute;
	padding: 4px;
	display: block;
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
	bottom: 0;
	left: 0;
}

.webcam img {
	display: block;
	aspect-ratio: 16/9;
	object-fit: cover;
	width: 100%;
}


/* img {
    max-width: 40%;   
} */


/* Toolbar*/

.app__toolbar {
	flex-shrink: 0;
	background-color: #222222;
	display: flex;
	justify-content: space-between;
}

.toolbar,
.toolbar__item {
	display: flex;
}

.toolbar__item {
	align-items: center;
	gap: 12px;
	padding: 16px 16px;
}

.toolbar__item > i {
	font-size: 12px;
}

.button__body {
	text-align: center;
	font-size: 12px;
}

.button__body i {
	font-size: 32px;
	display: block;
	margin-bottom: 8px;
}

.button.button--colored .button__body > i {
	color: greenyellow;
}

.button-end {
	color: red;
	background-color: rgba(255, 255, 255, 0.2);
	padding: 0 24px;
}
